<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <!--link rel="stylesheet" type="text/css" href="/static/style.css"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/style2.css">

</head>
<body class="grey lighten-4">

    <nav>
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
                <li><a href="/games">Games</a></li>
                <li><a href="/newplayer" class="active">New Player</a></li>
                <li><a href="/signin">Sign In</a></li>
                <li><a href="/user" class="waves-effect waves-light btn">See your Target</a></li>

            </ul>
            {% if user %}
        <span class="right">{{'User: ' + user}}</span>
            {% else %}
            <span class="right">No user</span>
            {% endif %}
        </div>
    </nav>
<div class="container">

    <h1>{{ (name)|string + ", your target is " + (target)|string +  "."}}</h1>

    <form method="POST">
        <input value="Terminate Yourself" class="btn waves-effect waves-light" type="submit">
    </form>
</div>
</body>
</html>